In [1]:
import os
import glob

In [1]:
# init model
%run 'cn_checker.ipynb'

In [3]:
# get crns

file_path = '../data/input/company_list.txt'
df = pd.read_csv(file_path, sep= '\t', encoding='cp949', index_col=False)
cns = df['company_name'].to_list()
len(cns)

214

In [10]:
cns = ['메가존']

In [3]:
# run model
run_cn_checker_async(5, cns)

In [14]:
cns_result

[['메가존', '서울, 강남구', '도매 및 소매업', '일반기업', '', '', ''],
 ['신한디에스', '서울, 중구', '정보 없음', '일반기업', '5,127', '922', '29']]

In [14]:
#check result
print('cns: {}, cns_fail: {}, cns_result: {}'.
      format(len(cns), cns_fail, len(cns_result)))

cns: 3, cns_fail: 1, cns_result: 2

In [15]:
#save df
df = dataset(cns_result)
save_csv(df)

In [16]:
# get result
folder_path = '../data/result'
csv_file_list = glob.glob(folder_path + '/*.csv')
csv_file_list = sorted(csv_file_list)
file_path = csv_file_list[-1]

df = pd.read_csv(file_path, sep= '\t',index_col=0)

print('csv_file_list: ',csv_file_list)
print('file_path: ',file_path)

csv_file_list:  ['../data/result/20200206014956.csv', '../data/result/20200206140853.csv', '../data/result/20200206185925.csv']
file_path:  ../data/result/20200206185925.csv

In [17]:
# see result
df

           회사명        지역    산업군   type     연봉     인원     업력
0      쓰리에스소프트   서울, 서초구  정보 없음   일반기업  block  block  block
1      비케이에스엔피  서울, 영등포구  정보 없음   일반기업  3,982     34     14
2      비아이씨엔에스   경기, 성남시  정보 없음   일반기업  3,958    124     21
3      비아이시큐리티     block  block  block  block  block  block
4    삼육오엠씨네트웍스     block  block  block  block  block  block
..         ...       ...    ...    ...    ...    ...    ...
209     화인에스아이     block  block  block  block  block  block
210       흥원스탭     block  block  block  block  block  block
211      휴먼스퀘어     block  block  block  block  block  block
212     흥국철강상사     block  block  block  block  block  block
213     히든어빌리티     block  block  block  block  block  block

[214 rows x 7 columns]